<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.AdminDAO">
	
	<!-- select ************************************************************************************************ -->
	<!-- 년도와 월로 챌린지 가져오기 -->
	<select id="selectChallengeBydate" resultType="kr.inyo.munglog.vo.ChallengeVO">
		select * from challenge where cl_year = #{cl_year} and cl_month = #{cl_month}
	</select>
	
	<!-- 챌린지 리스트 가져오기 -->
	<select id="selectChallengeList" resultType="kr.inyo.munglog.vo.ChallengeVO">
		select * from challenge 
			order by cl_year desc, cl_month desc 
			limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 등록된 챌린지 총 개수 가져오기 -->
	<select id="selectChallengeTotalCount" resultType="int">
		select count(*) from challenge
	</select>
	
	<!-- 챌린지 번호로 챌린지 가져오기 -->
	<select id="selectChallenge" resultType="kr.inyo.munglog.vo.ChallengeVO">
		select * from challenge where cl_num = #{cl_num}
	</select>
	
	<!-- 카테고리 리스트 가져오기 -->
	<select id="selectCategoryList" resultType="kr.inyo.munglog.vo.CategoryVO">
		select * from category
	</select>
	
	<!-- 카테고리랑 상품명으로 굿즈 정보 가져오기 -->
	<select id="selectGoodsByName" resultType="kr.inyo.munglog.vo.GoodsVO">
		select * from goods where gs_ct_name = #{gs_ct_name} and gs_name = #{gs_name}
	</select>
	
	<!-- 굿즈 리스트 가져오기 -->
	<select id="selectGoodsList" resultType="kr.inyo.munglog.vo.GoodsVO">
		select * from goods
	</select>
	
	<!-- 옵션 리스트 가져오기 -->
	<select id="selectOptionList" resultType="kr.inyo.munglog.vo.OptionVO">
		select * from `option` where ot_gs_num = #{ot_gs_num}
	</select>
	
	<!-- insert *********************************************************************************************** -->
	<!-- 챌린지 추가 -->
	<insert id="insertChallenge">
		insert into challenge(cl_year, cl_month, cl_theme, cl_thumb)
			values(#{cl_year}, #{cl_month}, #{cl_theme}, #{cl_thumb})
	</insert>
	
	<!-- 굿즈 추가 -->
	<insert id="insertGoods">
		insert into goods(gs_ct_name, gs_name, gs_thumb, gs_description, gs_guidance)
			values(#{gs_ct_name}, #{gs_name}, #{gs_thumb}, #{gs_description}, #{gs_guidance})
	</insert>
	
	<!-- 옵션 추가 -->
	<insert id="insertOption">
		insert into `option`(ot_gs_num, ot_name, ot_amount, ot_price)
			values(#{ot_gs_num}, #{ot_name}, #{ot_amount}, #{ot_price})
	</insert>
	
	<!-- update ************************************************************************************************* -->
	<!-- 챌린지 수정 -->
	<update id="updateChallenge">
		update challenge 
			set cl_year = #{cl_year},
				cl_month = #{cl_month},
				cl_theme = #{cl_theme},
				cl_thumb = #{cl_thumb}
			where cl_num = #{cl_num}
	</update>
	
	<!-- delete ************************************************************************************************* -->
	<!-- 챌린지 삭제 -->
	<delete id="deleteChallenge">
		delete from challenge where cl_num = #{cl_num}
	</delete>
</mapper>