<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.AdminDAO">
	
	<!-- select *********************************************************** -->
	<!-- 년도와 월로 챌린지 가져오기 -->
	<select id="selectChallengeBydate" resultType="kr.inyo.munglog.vo.ChallengeVO">
		select * from challenge where cl_year = #{cl_year} and cl_month = #{cl_month}
	</select>
	
	<!-- 챌린지 리스트 가져오기 -->
	<select id="selectChallengeList" resultType="kr.inyo.munglog.vo.ChallengeVO">
		select * from challenge order by cl_num desc limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 등록된 챌린지 총 개수 가져오기 -->
	<select id="selectChallengeTotalCount" resultType="int">
		select count(*) from challenge
	</select>
	<!-- insert *********************************************************** -->
	<!-- 챌린지 추가 -->
	<insert id="insertChallenge">
		insert into challenge(cl_year, cl_month, cl_theme, cl_thumb)
			values(#{cl_year}, #{cl_month}, #{cl_theme}, #{cl_thumb})
	</insert>
	
	<!-- update *********************************************************** -->
	
	<!-- delete *********************************************************** -->
</mapper>