<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.BoardDAO">
	
	<!-- select ************************************************************************************************ -->
	<!-- 모든 정보로 게시글 가져오기 -->
	<select id="selectBoardByAll" resultType="kr.inyo.munglog.vo.BoardVO">
		select * from board 
			where bd_type = #{bd_type} and bd_mb_num = #{bd_mb_num} and bd_title = #{bd_title} and bd_content = #{bd_content}
	</select>
	
	<!-- cri로 qna 리스트 가져오기 -->
	<select id="selectQnaListByCri" resultType="kr.inyo.munglog.dto.QnaDTO">
		select qna.*, board.*, gs_thumb, mb_nickname from qna
			join board on qna.qn_bd_num = board.bd_num
      join goods on qna.qn_gs_num = goods.gs_num
      join member on board.bd_mb_num = member.mb_num
      where bd_type = "QNA"
      <if test = "gs_num != 0">
				and qn_gs_num = #{gs_num} 
			</if>
			<if test = "qn_state != ''">
				and qn_state = #{qn_state} 
			</if>
			<if test = "searchType != ''">
				and ${searchType} like concat('%',#{keyword},'%') 
			</if>
		  order by bd_reg_date desc
		  limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- cri로 게시글 총 개수 가져오기 -->
	<select id="selectQnaTotalCount" resultType="int">
		select count(*) from board 
			join qna on board.bd_num = qna.qn_bd_num
			join member on board.bd_mb_num = member.mb_num
			where bd_type = #{bd_type}
			<if test = "cri.gs_num != 0">
				and qn_gs_num = #{cri.gs_num} 
			</if>
			<if test = "cri.qn_state != ''">
				and qn_state = #{cri.qn_state} 
			</if>
			<if test = "cri.searchType != ''">
				and ${cri.searchType} like concat('%',#{cri.keyword},'%') 
			</if> 
	</select>
	
	<!-- qna 가져오기 -->
	<select id="selectQna" resultType="kr.inyo.munglog.dto.QnaDTO">
		select qna.*, board.*, gs_name, mb_nickname from qna
			join board on qna.qn_bd_num = board.bd_num
      join goods on qna.qn_gs_num = goods.gs_num
      join member on board.bd_mb_num = member.mb_num
      where qn_num = #{qn_num}
	</select>
	
	<!-- 첨부파일 리스트 가져오기 -->
	<select id="selectAttachmentList" resultType="kr.inyo.munglog.vo.AttachmentVO">
		select * from attachment where at_bd_num = #{bd_num}
	</select>
	
	<!-- 게시글 번호 주고 게시글 가져오기 -->
	<select id="selectBoard" resultType="kr.inyo.munglog.vo.BoardVO">
		select * from board where bd_num = #{bd_num}
	</select>
	
	<!-- 첨부파일 가져오기 -->
	<select id="selectAttachment" resultType="kr.inyo.munglog.vo.AttachmentVO">
		select * from attachment where at_num = #{at_num}
	</select>
	
	<!-- 게시글 번호로 qna 가져오기 -->
	<select id="selectQnaByBdNum" resultType="kr.inyo.munglog.vo.QnaVO">
		select * from qna where qn_bd_num = #{qn_bd_num}
	</select>
	
	<!-- 게시글 번호로 댓글 가져오기 -->
	<select id="selectBoardComment" resultType="kr.inyo.munglog.vo.CommentVO">
		select * from comment where cm_bd_num = #{bd_num}
	</select>
	
	<!-- 댓글 번호로 댓글 가져오기 -->
	<select id="selectComment" resultType="kr.inyo.munglog.vo.CommentVO">
		select * from comment where cm_num = #{cm_num}
	</select>
	
	<!-- insert *********************************************************************************************** -->
	<!-- 게시글 추가 -->
	<insert id="insertBoard">
		insert into board(bd_type, bd_mb_num, bd_title, bd_content)
			values(#{bd_type}, #{bd_mb_num}, #{bd_title}, #{bd_content})
	</insert>
	
	<!-- QNA 추가 -->
	<insert id="insertQna">
		insert into qna(qn_bd_num, qn_gs_num, qn_state)
			values(#{qn_bd_num}, #{qn_gs_num}, #{qn_state})
	</insert>
	
	<!-- 첨부파일 추가 -->
	<insert id="insertAttachment">
		insert into attachment(at_bd_num, at_ori_name, at_name)
			values(#{at_bd_num}, #{at_ori_name}, #{at_name})
	</insert>
	
	<!-- 게시글 댓글 추가 -->
	<insert id="insertBoardComment">
		insert into comment(cm_mb_num, cm_content, cm_bd_num)
			values(#{cm_mb_num},#{cm_content},#{cm_bd_num})
	</insert>
	
	<!-- update ************************************************************************************************* -->
	<!-- 게시글 수정 -->
	<update id="updateBoard">
		update board
			set bd_title = #{bd_title},
				bd_content = #{bd_content}
			where bd_num = #{bd_num}		
	</update>
	
	<!-- QNA 수정 -->
	<update id="updateQna">
		update qna
			set qn_gs_num = #{qn_gs_num},
				qn_state = #{qn_state}
			where qn_num = #{qn_num}		
	</update>
	
	<!-- 댓글 수정 -->
	<update id="updateComment">
		update comment
			set cm_content = #{cm_content},
				cm_report = #{cm_report}
			where cm_num = #{cm_num}		
	</update>
	
	<!-- delete ************************************************************************************************* -->
	<!-- 첨부파일 삭제 -->
	<delete id="deleteAttachment">
		delete from attachment where at_num = #{at_num}
	</delete>
	
	<!-- 게시글 삭제 -->
	<delete id="deleteBoard">
		delete from board where bd_num = #{bd_num}
	</delete>
	
	<!-- 댓글 삭제 -->
	<delete id="deleteComment">
		delete from comment where cm_num = #{cm_num}
	</delete>
</mapper>