<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.GoodsDAO">
	
	<!-- select ************************************************************************************************ -->
	<!-- cri로 굿즈 리스트 가져오기 -->
	<select id="selectGoodsList" resultType="kr.inyo.munglog.vo.GoodsVO">
		select goods.*, min(ot_price) as gs_price from goods
			join `option` on goods.gs_num = `option`.ot_gs_num
			<if test = "searchType != ''">
				where ${searchType} like concat('%',#{keyword},'%') 
			</if> 
		  group by gs_num
		  order by gs_reg_date desc
		  limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- cri로 굿즈 총 개수 가져오기 -->
	<select id="selectGoodsTotalCount" resultType="int">
		select count(*) from goods
			<if test = "searchType != ''">
				where ${searchType} like concat('%',#{keyword},'%') 
			</if>
	</select>
	
	<!-- 카테고리 리스트 가져오기 -->
	<select id="selectCategoryList" resultType="kr.inyo.munglog.vo.CategoryVO">
		select * from category
	</select>
	
	<!-- 굿즈번호로 굿즈 가져오기 -->
	<select id="selectGoods" resultType="kr.inyo.munglog.vo.GoodsVO">
		select goods.*, min(ot_price) as gs_price from goods
			join `option` on goods.gs_num = `option`.ot_gs_num
			where gs_num = #{gs_num}
		  group by gs_num
	</select>
	
	<!-- 굿즈 번호로 옵션 리스트 가져오기 -->
	<select id="selectOptionList" resultType="kr.inyo.munglog.vo.OptionVO">
		select * from `option` where ot_gs_num = #{gs_num} order by ot_price
	</select>
	
	<!-- 회원번호와 옵션 번호로 장바구니 정보 가져오기 -->
	<select id="selectBasketByOtNum" resultType="kr.inyo.munglog.vo.BasketVO">
		select * from basket
			where bs_mb_num = #{bs_mb_num} and bs_ot_num = #{bs_ot_num} and bs_expir_date > now()
	</select>
	
	<!-- 회원 번호로 장바구니 리스트 가져오기 -->
	<select id="selectBasketList" resultType="kr.inyo.munglog.dto.BasketDTO">
		select * from basket
			join `option` on basket.bs_ot_num = `option`.ot_num
    	join goods on `option`.ot_gs_num = goods.gs_num
    	where bs_mb_num = #{mb_num} and bs_expir_date > now();
	</select>
	
	<!-- 장바구니 번호로 장바구니 가져오기 -->
	<select id="selectBasket" resultType="kr.inyo.munglog.vo.BasketVO">
		select * from basket
		where bs_num = #{bs_num} and bs_mb_num = #{bs_mb_num}
	</select>
	
	<!-- 옵션 번호로 주문할 상품들 정보 가져오기 -->
	<select id="selectOrderByOtNum" resultType="kr.inyo.munglog.dto.OrderDTO">
		select * from `option`
   		join goods on `option`.ot_gs_num = goods.gs_num
   		where ot_num = #{otNum} 
	</select>
	
	<!-- insert *********************************************************************************************** -->
	<!-- 장바구니 추가 -->
	 <insert id="insertBasket">
	 	insert into basket(bs_mb_num, bs_ot_num, bs_amount, bs_expir_date)
	 		values(#{bs_mb_num},#{bs_ot_num},#{bs_amount},#{bs_expir_date})
	 </insert>
	<!-- update ************************************************************************************************* -->
	
	<!-- delete ************************************************************************************************* -->
	<!-- 장바구니 삭제 -->
	<delete id="deleteBasket">
		delete from basket
			where bs_num = #{bs_num} and bs_mb_num = #{bs_mb_num}
	</delete>
</mapper>