<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.LogDAO">
	
	<!-- select *********************************************************** -->
	<!-- 회원번호 주고 강아지들 정보 가져오기(list) -->
	<select id="selectDogs" resultType="kr.inyo.munglog.vo.DogVO">
		select * from Dog where dg_mb_num = #{dg_mb_num}
	</select>
	
	<!-- 회원번호와 이미지 주고 일지 가져오기 -->
	<select id="selectLogByImg" resultType="kr.inyo.munglog.vo.LogVO">
		select * from Log where lg_mb_num = #{lg_mb_num} and lg_image = #{lg_image}
	</select>
	
	<!-- 회원번호 주고 로그리스트 가져오기 -->
	<select id="selectLogList" resultType="kr.inyo.munglog.vo.LogVO">
		select * from Log where lg_mb_num = #{lg_mb_num}
			order by lg_reg_date desc
	</select>
	
	<!-- insert *********************************************************** -->
	<!-- 강아지 정보 추가 -->
	<insert id="insertDog">
		insert into dog(dg_mb_num, dg_name, dg_reg_num, dg_birth)
			values(#{dg_mb_num}, #{dog.dg_name}, #{dog.dg_reg_num}, #{dog.dg_birth})
	</insert>
	
	<!-- 일지 추가 -->
	<insert id="insertLog">
		insert into log(lg_mb_num, lg_image) values(#{lg_mb_num}, #{lg_image})
	</insert>
	
	<!-- 피사체 추가 -->
	<insert id="insertSubject">
		insert into subject(sb_lg_num, sb_dg_num) values(#{sb_lg_num}, #{sb_dg_num})
	</insert>
	
	<!-- update *********************************************************** -->
	
	<!-- delete *********************************************************** -->


</mapper>