<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.LogDAO">
	
	<!-- select *********************************************************** -->
	<!-- 회원번호 주고 강아지들 정보 가져오기(list) -->
	<select id="selectDogs" resultType="kr.inyo.munglog.vo.DogVO">
		select * from Dog where dg_mb_num = #{dg_mb_num}
	</select>
	
	<!-- 회원번호와 이미지 주고 일지 가져오기 -->
	<select id="selectLogByImg" resultType="kr.inyo.munglog.vo.LogVO">
		select * from Log 
			where lg_mb_num = #{lg_mb_num} and lg_image = #{lg_image} and lg_del = '0'
	</select>
	
	<!-- criteria 주고 일지리스트 가져오기 -->
	<select id="selectLogList" resultType="kr.inyo.munglog.vo.LogVO">
		select * from log
			left join subject on log.lg_num = subject.sb_lg_num
			where 
				<if test="mb_num != 0">
					lg_mb_num = #{mb_num} and
				</if>
				lg_del = '0' and lg_report = '0'
			<if test="dg_num != 0">
				and sb_dg_num = #{dg_num}
			</if>
			<if test="regYear != ''">
				and year(lg_reg_date) = #{regYear}
			</if>
			group by lg_num
			order by lg_reg_date desc
			limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- 회원의 일지 개수 가져오기 -->
	<select id="selectLogTotalCount" resultType="int">
		select count(*) from Log where lg_mb_num = #{mb_num} and lg_del = '0' and lg_report = '0'
	</select>
	
	<!-- 사진이 등록된 년도들 가져오기 -->
	<select id="selectRegYearList" resultType="String"> 
		select year(lg_reg_date) from log where lg_mb_num = #{lg_mb_num} and lg_del = '0' and lg_report = '0'
			group by year(lg_reg_date);
	</select>
	
	<!-- 로그 번호 주고 강아지 번호 가져오기 -->
	<select id="selectSubjectList" resultType="kr.inyo.munglog.vo.SubjectVO">
		select * from subject where sb_lg_num = #{lg_num}
	</select>
	
	<!-- 일지 번호 주고 일지 가져오기 -->
	<select id="selectLog" resultType="kr.inyo.munglog.vo.LogVO">
		select * from log where lg_num = #{lg_num} and lg_del = '0' and lg_report = '0'
	</select>
	
	<!-- 회원번호 주고 일지리스트 가져오기 -->
	<select id="selectTodayLogListByMbNum" resultType="kr.inyo.munglog.vo.LogVO">
		select * from log
			where lg_mb_num = #{mb_num} and date_format(lg_reg_date,'%Y-%m-%d') = date_format(now(),'%Y-%m-%d')
	</select>
	
	<!-- insert *********************************************************** -->
	<!-- 강아지 정보 추가 -->
	<insert id="insertDog">
		insert into dog(dg_mb_num, dg_name, dg_reg_num, dg_birth)
			values(#{dg_mb_num}, #{dog.dg_name}, #{dog.dg_reg_num}, #{dog.dg_birth})
	</insert>
	
	<!-- 일지 추가 -->
	<insert id="insertLog">
		insert into log(lg_mb_num, lg_image) values(#{lg_mb_num}, #{lg_image})
	</insert>
	
	<!-- 피사체 추가 -->
	<insert id="insertSubject">
		insert into subject(sb_lg_num, sb_dg_num) values(#{sb_lg_num}, #{sb_dg_num})
	</insert>
	
	<!-- update *********************************************************** -->
	<update id="updateLog">
		update log 
			set lg_image = #{lg_image},
				lg_views = #{lg_views},
				lg_report = #{lg_report},
				lg_del = #{lg_del}
			where lg_num = #{lg_num}
	</update>
	
	<!-- delete *********************************************************** -->
	<delete id="deleteSubject">
		delete from subject where sb_lg_num = #{lg_num}
	</delete>

</mapper>