<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.MemberDAO">
	
	<!-- select *********************************************************** -->
	<!-- 이메일 주고 회원 정보 가져오기 -->
	<select id="selectMember" resultType="kr.inyo.munglog.vo.MemberVO">
		select * from member where mb_email = #{mb_email};
	</select>
	
	<!-- 이메일 주고 인증정보 가져오기 -->
	<select id="selectVerification" resultType="kr.inyo.munglog.vo.VerificationVO">
		select * from verification where vr_email = #{vr_email}
	</select>
	
	<!-- 이름이랑 핸드폰 정보 주고 회원 정보 가져오기 -->
	<select id="selectSameMember" resultType="kr.inyo.munglog.vo.MemberVO">
		select * from member where mb_name = #{mb_name} and mb_phone = #{mb_phone};
	</select>
	
	<!-- 세션아이디 주고 이메일 가져오기 -->
	<select id="selectMemberEmail" resultType="String">
		select mb_email from member where mb_session_id = #{mb_session_id} and mb_session_expir > now();
	</select>
	
	<!-- 일지가 있는 회원 정보 리스트 가져오기 -->
	<select id="getMemberList" resultType="kr.inyo.munglog.vo.MemberVO">
		select member.* from member
			join dog on member.mb_num = dog.dg_mb_num
 				where mb_activity = '0'
				group by mb_num; 
	</select>
	
	<!-- insert *********************************************************** -->
	<!-- 본인인증 테이블에 회원메일, 본인인증코드 저장 -->
	<insert id="insertVeriCode">
		insert into verification(vr_email, vr_code) values(#{vr_email},#{vr_code})
	</insert>
	
	<!-- 회원 테이블에 회원정보 저장(회원가입) -->
	<insert id="insertMember">
		insert into member(mb_email, mb_pw, mb_name, mb_phone)
			values(#{mb_email},#{mb_pw},#{mb_name},#{mb_phone})
	</insert>
	
	<!-- 포인트 적립 -->
	<insert id="insertPoint">
		insert into point(pi_mb_num, pi_process, pi_history,pi_amount)
			values(#{pi_mb_num},#{pi_process},#{pi_history},#{pi_amount})
	</insert>
	
	<!-- update *********************************************************** -->
	<!-- 본인인증 정보 수정 -->
	<update id="updateVerifiCation">
		update verification
			set vr_code = #{vr_code}, 
				vr_failure_count = #{vr_failure_count}
			where vr_email = #{vr_email}
	</update>
	
	<!-- 프로필 정보 수정 -->
	<update id="updateProfile">
		update member
			set mb_profile = #{mb_profile},
				mb_nickname = #{mb_nickname},
				mb_greeting = #{mb_greeting}
			where mb_num = #{mb_num}
	</update>
	
	<!-- 세션 정보 수정 -->
	<update id="updateSession">
		update member
			set mb_session_id = #{mb_session_id},
				mb_session_expir = #{mb_session_expir}
			where mb_num = #{mb_num}
	</update>
	
	<!-- 회원 정보 수정 -->
	<update id="updateMember">
		update member
			set mb_pw = #{mb_pw},
				mb_name = #{mb_name},
				mb_phone = #{mb_phone},
				mb_level = #{mb_level},
				mb_activity = #{mb_activity}
			where mb_num = #{mb_num}
	</update>
	
	<!-- delete *********************************************************** -->
	<!-- 회원 이메일 주고 본인인증 삭제 -->
	<delete id="deleteVerification">
		delete from verification where vr_email = #{vr_email}
	</delete>
</mapper>