<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.MypageDAO">
	
	<!-- select ************************************************************************************************ -->
	<!-- 내 주문 내역 리스트 가져오기 -->
	<select id="selectMyOrderList" resultType="kr.inyo.munglog.vo.OrderVO">
		select * from `order` 
			where or_mb_num = #{mb_num}
			order by or_date desc
			limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- cri로 내 주문 상세 내역 리스트 가져오기 -->
	<select id="selectMyOrderDetailList" resultType="kr.inyo.munglog.dto.MyOrderDTO">
		select * from orderDetail 
			join `order` on orderDetail.od_or_code = `order`.or_code
	    join `option` on orderDetail.od_ot_num = `option`.ot_num
	    join goods on `option`.ot_gs_num = goods.gs_num
	    join address on `order`.or_ad_num = address.ad_num
	    where or_mb_num = #{mb_num}
	    order by od_num desc
	</select>
	
	<!-- 주문 상세 번호로 내 주문 내역 가져오기 -->
	<select id="selectMyOrderDetail" resultType="kr.inyo.munglog.dto.MyOrderDTO">
		select * from orderDetail 
			join `order` on orderDetail.od_or_code = `order`.or_code
	    where od_num = #{od_num}
	</select>
	
	<!-- 주문 상세 번호로 내 리뷰 가져오기 -->
	<select id="selectMyReview" resultType="kr.inyo.munglog.vo.ReviewVO">
		select * from review where rv_od_num = #{rv_od_num}
	</select>
	
	<!-- insert *********************************************************************************************** -->
	<!-- 리뷰 추가 -->
	<insert id="insertReview">
		insert into review(rv_od_num, rv_rating, rv_content, rv_image)
			values(#{rv_od_num},#{rv_rating},#{rv_content},#{rv_image})
	</insert>
	
	<!-- update ************************************************************************************************* -->
	
	<!-- delete ************************************************************************************************* -->
	
</mapper>