<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.inyo.munglog.dao.MypageDAO">
	
	<!-- select ************************************************************************************************ -->
	<!-- 내 주문 내역 리스트 가져오기 -->
	<select id="selectMyOrderList" resultType="kr.inyo.munglog.vo.OrderVO">
		select * from `order` 
			where or_mb_num = #{mb_num}
			order by or_date desc
			limit #{pageStart}, #{perPageNum}
	</select>
	
	<!-- cri로 내 주문 상세 내역 리스트 가져오기 -->
	<select id="selectMyOrderDetailList" resultType="kr.inyo.munglog.dto.MyOrderDTO">
		select * from orderDetail 
			join `order` on orderDetail.od_or_code = `order`.or_code
	    join `option` on orderDetail.od_ot_num = `option`.ot_num
	    join goods on `option`.ot_gs_num = goods.gs_num
	    join address on `order`.or_ad_num = address.ad_num
	    where or_mb_num = #{mb_num}
	    order by od_num desc
	</select>
	
	<!-- 주문 상세 번호로 내 주문 내역 가져오기 -->
	<select id="selectMyOrderDetail" resultType="kr.inyo.munglog.dto.MyOrderDTO">
		select * from orderDetail 
			join `order` on orderDetail.od_or_code = `order`.or_code
	    where od_num = #{od_num}
	</select>
	
	<!-- 주문 상세 번호로 내 리뷰 가져오기 -->
	<select id="selectMyReview" resultType="kr.inyo.munglog.vo.ReviewVO">
		select * from review where rv_od_num = #{rv_od_num}
	</select>
	
	<!-- cri로 내 포인트 내역 가져오기 -->
	<select id="selectMyPointList" resultType="kr.inyo.munglog.vo.PointVO">
		select * from point 
			where pi_mb_num = #{mb_num}
			<if test = "searchType != ''">
				and ${searchType} = #{keyword} 
			</if>
			order by pi_date desc
			limit #{pageStart}, #{perPageNum}
	</select>
	
	<select id="selectPointtotalCount" resultType="int">
		select count(*) from point 
			where pi_mb_num = #{mb_num}
			<if test = "searchType != ''">
				and ${searchType} = #{keyword} 
			</if>
	</select>
	
	<!-- insert *********************************************************************************************** -->
	<!-- 리뷰 추가 -->
	<insert id="insertReview">
		insert into review(rv_od_num, rv_rating, rv_content, rv_image)
			values(#{rv_od_num},#{rv_rating},#{rv_content},#{rv_image})
	</insert>
	
	<!-- 강아지 정보 추가 -->
	<insert id="insertDog">
		insert into dog(dg_mb_num, dg_name, dg_reg_num, dg_birth)
			values(#{dg_mb_num}, #{dg_name}, #{dg_reg_num}, #{dg_birth})
	</insert>
	
	<!-- update ************************************************************************************************* -->
	<!-- 리뷰 수정하기 -->
	<update id="updateReview">
		update review
			set rv_rating = #{rv_rating},
				rv_content = #{rv_content},
				rv_image = #{rv_image},
				rv_report = #{rv_report}
			where rv_num = #{rv_num}
	</update>
	
	<!-- 강아지 정보 수정 -->
	<update id="updateDog">
		update dog
			set dg_name = #{dg_name},
				dg_reg_num = #{dg_reg_num},
				dg_birth = #{dg_birth}
			where dg_num = #{dg_num}
	</update>
	
	<!-- delete ************************************************************************************************* -->
	<!-- 강아지 정보 삭제 -->
	<delete id="deleteDog">
		delete from dog where dg_num = #{dg_num}
	</delete>
</mapper>